<h1> <%= @user.first_name %> <%= @user.last_name %> |  <%= @user.username %> </h1>
<p>
	<%= image_tag @user.avatar.url %>
	<%= image_tag @user.avatar.url(:medium) %>
	<%= image_tag @user.avatar.url(:thumb) %> <br/>
	Your Privlege Level: <%= @user.privilege %>
</p>