<h1>Hey everyone look at the courses we offer</h1>

<% @curriculums.each do |c| %>
	<li><%= c.title %></li>
	<li><%= c.topic %></li>
	<li><%= c.summary %></li>
	<li><%= truncate(c.syllabus, length: 55, separator: '') %></li>
	<li><%= c.timeframe %></li>
	<li><%= c.created_at %></li>
	<li><%= c.updated_at %></li>
	<li><%= link_to "show framework", c %></li><br/>
<% end %>