<div class="large-4 columns">

</div>
<div class="large-4 columns">
<%= form_for @group do |f| %>

	<%= f.label :curriculum %>
	<%= f.text_field :curriculum_id, :value => @curriculum.title, :readonly => true %>
	<%= f.hidden_field :curriculum_id, :value => @curriculum.id %>
	
	<%= f.label :Mentor %>
	<%= f.text_field :name, :value => current_user.full_name, :readonly => true %>
	
	<%= f.label :location %>
	<%= f.text_field :location %>

	<%= f.label :start_date %>
	<%= f.date_select :start_date %>

	<%= f.label :end_date %>
	<%= f.date_select :end_date %>

	<%= f.submit class: 'button' %>
<% end %>
</div>
<div class="large-4 columns">
</div>