<script>
  $(document).on('ready', function(){
    $('#search_groups').on('keyup', function () {
      $('.group_module').hide().filter(function(){
        var search_value = $('#search_groups').val().toLowerCase()
        return $(this).attr('id').indexOf(search_value) != -1;
      }).show()
    });
  });
</script>

<!-- Breadcrumbls Trail -->

  <ul class="breadcrumbs">
    <li><%= link_to 'Home', root_path %></li>
    <li><a href="#">Features</a></li>
    <li class="unavailable"><a href="#">Gene Splicing</a></li>
    <li class="current"><a href="#">Cloning</a></li>
  </ul>

<!-- HEADER INFO -->

<div class="groups_body">
    <div class="row header">
        <h2 id="groups-header"><strong style="font-weight: 900;">WHAT'S GOING ON NEAR YOU?</strong></h2>
    </div><!-- Group Search Bar -->
    <!-- Use ajax for single page search -->

<!-- SEARCH BAR -->

    <div class="row group_search">
        <div class="row collapse">
            <div class="large-8 small-9 columns">
                <input id="search_groups" placeholder="Find Stuff" type=
                "text">
            </div>

            <div class="large-4 small-3 columns">
                <a class="small alert button expand postfix" href=
                "#">Search</a>
            </div>
        </div>
    </div>

<!-- BLACK ICON BAR -->

    <div class="row">
    <div class="icon-bar five-up">
  <a class="item">
    <!-- <img src="/assets/chemistry1.svg" > -->
    <h2 class="icon_text">P</h2>
    <label>Programming</label>
  </a>
  <a class="item">
  <h2 class="icon_text">C</h2>
    <!-- <img src="../assets/img/images/fi-bookmark.svg" > -->
    <label>Capital Markets</label>
  </a>
  <a class="item">
    <h2 class="icon_text">P</h2>
    <!-- <img src="../assets/img/images/fi-info.svg" > -->
    <label>Poetry</label>
  </a>
  <a class="item">
    <h2 class="icon_text">M</h2>
    <!-- <img src="../assets/img/images/fi-mail.svg" > -->
    <label>Mathmatics</label>
  </a>
  <a class="item">
  <h2 class="icon_text">B</h2>
    <!-- <img src="../assets/img/images/fi-like.svg" > -->
    <label>Biochemistry</label>
  </a>
</div>

<!-- Group modules -->

        <% @groups.each do |group| %>

        <div class="large-12 columns group_module" id=
        '<%= group.curriculum.title.downcase + " " + group.name.downcase + " " + group.location.downcase %>'>
        <ul>
            <li>
                <div class="large-6 columns">
                    <%= link_to group.curriculum.title, group %><br>
                    <!-- <%= group.curriculum.topic %><br/> -->
                     <!-- <div class="row"> -->
                     <%= group.location %><br>
                    <strong>Mentor:</strong> <%= group.name %> 
                    <!-- </div> -->
                </div>

                <div class="large-6 columns">
                    <%= group.start_date.to_s(:short) %> | <%= group.end_date.to_s(:short) %></br>
                    <%= group.curriculum.timeframe %>
                </div>
            </li>

            <li style="list-style: none; display: inline">
                <div class="large-6 columns">
                    <span class="label secondary"><%= link_to 'Show me More', group %></span>
                </div>
            </li>
        </ul>
        </div><% end %>

        <div class="large-4 small-3 columns">
            <%= link_to 'Create a New Group +', curriculums_path, class:"tiny button expand" %>
        </div>
    </div>
</div>


