

<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Explorio| Welcome</title>
  <link rel="stylesheet" href="css/foundation.css" />
  <script src="js/vendor/modernizr.js"></script>
</head>
<body>

<!-- Breadcrumbs -->

<ul class="breadcrumbs">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Groups', groups_path %></li>
</ul>

<!-- Group Header -->

<div class="row">
  <div class="large-12 columns">
    <h2 id="group-header"><%= @group.curriculum.title %></h2>
  </div>
</div>

<!-- Beggining of Groups Info Panel -->
    
<div class="row">
  <div class="large-12 columns">
  	<div class="panel groups-info-container">
        
          <h3 id="groups-summary"><%= @group.curriculum.summary %></h3>
          <p class="syllabus"><%= @group.curriculum.syllabus %><%= @group.curriculum.syllabus %><%= @group.curriculum.syllabus %><%= @group.curriculum.syllabus %><%= @group.curriculum.syllabus %><%= @group.curriculum.syllabus %>
          </p>
        
        <div class="row">
          <div class="large- medium-4 columns">
            <p><strong>Mentor: </strong><%= @group.name %></p>
          </div>        	
          <div class="large-4 medium-4 columns">
            <p><strong>Location: </strong><%= @group.location %></p>
        	</div>
        	<div class="large-4 medium-4 columns">
              <li>Start Date: <%= @group.start_date.to_s(:short) %>
          		<li>End Date: <%= @group.end_date.to_s(:short) %>
        	</div> 

  			</div>
          <ul class="breadcrumbs admin large-3">
            <li><%= link_to 'Delete Group', @group, method: :delete %></li>
            <li><%= link_to 'Edit Group', edit_group_path(@group) %></li>
          </ul>
    </div>

<!-- End of Groups info Container -->

<hr />

<!-- Begin Sign up Div -->


<div class = "row">
  <div class="large-6 columns">
    <h5 id="group-header">Members</h5>
    <div class="panel">
    <% @group.users.each do |user| %>
      <li><%= user.username %></li>
    <% end %> 
    </div>
  </div>
</div>
  
    <% begin %>
    <% @group.users.find(current_user.id) %>
    <% rescue %>
      <% if current_user %>
        <%= form_for [@group, @user_group] do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>   
        <%= f.hidden_field :group_id, :value => @group.id %>     
        <%= f.submit "Join Group", class: "large-12 success button" %><br/>
        <% end %>
      <% else %>
        <button class="large-12 success button" data-reveal-id="myModal">Login to Join!</button>
      <% end %>  
    <% end %>


  </div> 
</div>

<!-- End of all Groups info panels -->
        

         <div class="large-4 medium-4 columns">
      





      </div>
    </div>
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>

