
<div class="large-4 columns">
.
</div>
<div class="large-4 columns">


<h1>Sign Up!</h1>

<%= render 'shared/errors' %>

<form data-abide>
  <div class="name-field">
    
      <input >
    </label>
    <small class="error">Name is required and must be a string.</small>
  </div>
  <div class="email-field">
    <label>Email <small>required</small>
      <input type="email" required>
    </label>
    <small class="error">An email address is required.</small>
  </div>
  <button type="submit">Submit</button>
</form>

<%= form_for @user, data: {abide: ""} do |f| %>

	<label>Username <small>required</small>
	<%= f.text_field :username %>

	<%= f.label :first_name %>
	<%= f.text_field :first_name %>

	<%= f.label :last_name %>
	<%= f.text_field :last_name %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :email_confirmation %>
	<%= f.text_field :email_confirmation %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>

	<%= f.file_field :avatar %>

	<%= f.submit "Sign Me Up!", class: 'button' %> 
<% end %>
</div>
<div class="large-4 columns">

</div>