
<div class="large-4 columns">
.
</div>
<div class="large-4 columns">
<% @user.errors.messages.each do |key,value| %>
	<li><%= key %>: <%= value.join(", ") %>
<% end %>
<h1>Sign Up!</h1>
<%= form_for @user do |f| %>

	<%= f.label :username%>
	<%= f.text_field :username %>

	<%= f.label :first_name %>
	<%= f.text_field :first_name %>

	<%= f.label :last_name %>
	<%= f.text_field :last_name %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :email_confirmation %>
	<%= f.text_field :email_confirmation %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>

	<%= f.file_field :avatar %>

	<%= f.submit "Sign Me Up!" %> 
<% end %>
</div>
<div class="large-4 columns">

</div>