
<% @groups.each do |group| %>
  <li>
    <%= group.name %>
    <strong><%= group.curriculum.title %></strong>
    <%= group.location %>
    <%= group.start_date %>
    <%= group.end_date %>
    <%= link_to 'Show page', group %>
  </li><br/>
<% end %>